{% extends 'base.html.twig' %}

{% block title %} | Equipes de joueurs{% endblock %}

{% block body %}
    <h1>Equipes list</h1>
    <div>{{equipes|length}} Equipes</div>
    <table class="table table-striped table-sm table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Nom</th>
                <th>Groupe</th>
                <th>Moyenne</th>
                <th>Date Inscription</th>
            </tr>
        </thead>
        <tbody>
        {% for key,equipe in equipes %}
          {% set joueur = equipe[0] %}
          {% set groupe = joueur.getGroupe(equipe.tableau) %}
            <tr>
                <td>{{ key+1 }}</td>
                <td>{{ equipe.nom_equipe }}</td>
                <td>{% if groupe %}{{ groupe.nom }}{% endif %}</td>
                <td>{{ (equipe.moyenne/2)|number_format(2, '.', '') }}</td>
                {% if equipe.tableau == 'DH' %}
                  <td>{{ max(joueur.partenaireDH.DateInscription,joueur.DateInscription)|date('d-m-Y') }}</td>
                {% endif %}
                {% if equipe.tableau == 'DD' %}
                  <td>{{ max(joueur.partenaireDD.DateInscription,joueur.DateInscription)|date('d-m-Y') }}</td>
                {% endif %}
                {% if equipe.tableau == 'MX' %}
                  <td>{{ max(joueur.partenaireMX.DateInscription,joueur.DateInscription)|date('d-m-Y') }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div>{{equipes|length}} Equipes</div>

    <ul>
        <li>
            <a href="{{ path('joueur_new') }}">Create a new joueur</a> |
            <a href="{{ path('joueur_importer') }}">Importer joueurs</a> |
            <a href="{{ path('joueur_moyenne') }}">Maj moyennes</a>
        </li>
    </ul>
{% endblock %}
