{% extends 'base.html.twig' %}

{% block title %} | Détail du joueur{% endblock %}

{% block body %}
    <div class="jumbotron">
    <div style="text-align:center"><h2>{{ joueur.nom }}{% if joueur.estLA == true %}&nbsp;<span style="background-color:red;color:white;font-weight: bold;">[LA]</span>{% endif %}</h2><i>{{ joueur.classementSimple }}/{{ joueur.classementDouble }}/{{ joueur.classementMixte }}</i> - <i>{{ joueur.coteSimple }}/{{ joueur.coteDouble }}/{{ joueur.coteMixte }}</i></div>
    <table class="table table-sm table-hover" style="margin-top:10px">
        <tbody>
            <tr>
                <th>Licence</th>
                <td>{{ joueur.licence }}</td>
            </tr>
            <tr>
                <th>Club</th>
                <td>{{ joueur.club }}</td>
            </tr>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ joueur.sexe }}</td>
            </tr>
            <tr>
                <th>Tableaux</th>
                <td>
                {% if joueur.estSimple == true %}Simple<BR/>{% endif %}
                {% if joueur.estDouble == true %}Double<BR/>{% endif %}
                {% if joueur.estMixte == true %}Mixte{% endif %}
                </td>
            </tr>
            <tr>
                <th>Groupes</th>
                <td>
                  {% for groupe in joueur.getGroupes() %}
                    {{groupe.nom}}&nbsp;
                  {% endfor %}
                </td>
            </tr>
            </tr>
            {% if joueur.estDouble == true  or joueur.estMixte == true %}
            <tr>
                <th>Partenaires</th>
                <td>
                {% if joueur.estDouble == true %}
                  {% if joueur.partenaireDH %}DH: <a href="{{ path('joueur_show', { 'id': joueur.partenaireDH.id }) }}">{{ joueur.partenaireDH }}</a> ({{ joueur.partenaireDH.classementDouble }})<BR/>{% endif %}
                  {% if joueur.partenaireDD %}DD: <a href="{{ path('joueur_show', { 'id': joueur.partenaireDD.id }) }}">{{ joueur.partenaireDD }}</a> ({{ joueur.partenaireDD.classementDouble }})<BR/>{% endif %}
                  {% if not joueur.partenaireDH and not joueur.partenaireDD %}Double: Liste d'attente<br/>{% endif %}
                {% endif %}
                {% if joueur.estMixte == true %}
                  {% if joueur.partenaireMX %}MX: <a href="{{ path('joueur_show', { 'id': joueur.partenaireMX.id }) }}">{{ joueur.partenaireMX }}</a> ({{ joueur.partenaireMX.classementMixte}})<BR/>{% endif %}
                  {% if not joueur.partenaireMX %}Mixte: Liste d'attente<br/>{% endif %}
                {% endif %}
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    </div>

    <ul>
        <li>
            <a href="{{ path('joueur_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('joueur_edit', { 'id': joueur.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
