{% extends 'base.html.twig' %}

{% block body %}
    <h1>Groupes list</h1>
    <div>{{ groupes|length }} groupes</div>
    <table class="table table-striped table-sm table-hover">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Joueurs</th>
                <th>Affect&eacute;s</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for key,groupe in groupes %}
            <tr>
                <td>{{ groupe.nom }}</td>
                <td>{{ groupe.type.nom}} / {{ groupe.type.getNbJoueurs()}}J</td>
                <td>{{ nbjoueurs[key].nb }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('groupe_show', { 'id': groupe.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('groupe_edit', { 'id': groupe.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>{{ groupes|length }} groupes</div>
    <ul>
        <li>
            <a href="{{ path('groupe_new') }}">Create a new groupe</a>
        </li>
    </ul>
{% endblock %}
