{% extends 'base.html.twig' %}

{% block body %}
    <h1>Types list</h1>

    <table class="table table-striped table-sm table-hover">
        <thead>
            <tr style="text-align:center">
                <th>Nom</th>
                <th>Poules</th>
                <th>Taille</th>
                <th>Joueurs</th>
                <th>Matchs<br/>/Tour</th>
                <th>Matchs<br/>Joueur/Tour</th>
                <th>Tours</th>
                <th>Matchs<br/>Poules</th>
                <th>Matchs<br/>Phases Finales</th>
                <th>Matchs Joueur<br/>/Phases Finales</th>
                <th>Total<br/>Sans demies</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type in types %}
            <tr style="text-align:center">
                <td>{{ type.nom }}</td>
                <td>{{ type.nombrepoules }}</td>
                <td>{{ type.taillepoule }}</td>
                <td>{{ type.getNbJoueurs() }}</td>
                <td>{{ type.getNbMatchTour() }}</td>
                <td>{{ type.getNbMatchsJP() }}</td>
                <td>{{ type.getNbTours() }}</td>
                <td>{{ type.getNbMatchsP() }}</td>
                <td>{{ type.getNbMatchsPhF() }}</td>
                <td>{{ type.getNbMatchsJPF() }}</td>
                <td>{{ type.getNbMatchsTSD() }}</td>
                <td>{{ type.getNbMatchsT() }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('type_show', { 'id': type.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('type_edit', { 'id': type.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('type_new') }}">Create a new type</a>
        </li>
    </ul>
{% endblock %}
