{% extends 'base.html.twig' %}

{% block body %}
    <h1>Types list</h1>

    <table class="table table-striped table-sm table-hover">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Nombre_poules</th>
                <th>Taille_poule</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type in types %}
            <tr>
                <td>{{ type.nom }}</td>
                <td>{{ type.nombrepoules }}</td>
                <td>{{ type.taillepoule }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('type_show', { 'id': type.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('type_edit', { 'id': type.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('type_new') }}">Create a new type</a>
        </li>
    </ul>
{% endblock %}
