{% extends 'base.html.twig' %}

{% block body %}
    <h1>Salles list</h1>

    <table class="table table-striped table-sm table-hover">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Nombre_terrains</th>
                <th>Heure_debut</th>
                <th>Heure_fin</th>
                <th>Groupes Programmés</th>
                <th>Match Programmés</th>
                <th>Capacite</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for salle in salles %}
            <tr>
                <td>{{ salle.nom }}</td>
                <td>{{ salle.nombreterrains }}</td>
                <td>{% if salle.heuredebut %}{{ salle.heuredebut|date('H:i:s') }}{% endif %}</td>
                <td>{% if salle.heurefin %}{{ salle.heurefin|date('H:i:s') }}{% endif %}</td>
                <td>{% for groupe in salle.getGroupes %}{{ groupe.nom }}&nbsp;{% endfor %}</td>
                <td>{{ salle.getMatchsProg }}</td>
                <td>{{ salle.getCapaciteSecondes/duree_match }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('salle_show', { 'id': salle.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('salle_edit', { 'id': salle.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('salle_new') }}">Create a new salle</a>
        </li>
    </ul>
{% endblock %}
